<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Home</title>
	    <link href="style.css" rel="styleSheet" type="text/css"/>
	</head>

	<body id='body'>
		<header id="header">
			<!--button id="show_movies" class='but'>MY MOVIES</button-->
			<h1 id="titleheader" >Cinema App</h1>
			<button id="signup_but" class="but" onclick="window.location.href='/signup'">SIGN UP</button>
			<button id="login_but" class="but" onclick="window.location.href='/login'">LOGIN</button>
		</header>
		<div id="center">
			<img id='bigImg' class="image" src=''>
			<button id="buy_but">Reserve seats</button>
			<div id="titles">
			</div>
			<div id="discription">
			</div>
		</div>
		<div id="sidebar">
			<div id=side_header>
				
				<input id="search_inp" type="text" name="search" placeholder="title">
				<input type="submit" name="submit" id="search_but">
				
			</div>
			<div id="search_results">
			
			</div>
		</div>
		
		<script src=home.js></script>
		<script >
			document.getElementById('buy_but').addEventListener('click', function(){
				alert('please login befor using this function')
			})
			//document.getElementById('show_movies').addEventListener('click', function(){
			//	alert('please login befor using this function')
			//})
		</script>
	</body>
</html>