<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Home</title>
	    <link href="style.css" rel="styleSheet" type="text/css"/>
	</head>

	<body>
		<header id="header">
			<button id="signup_but" class="but">SIGN UP</button>
			<button id="login_but" class="but">LOGIN</button>
		</header>
		<div id="center">
			<img id='bigImg' class="image" src="https://ia.media-imdb.com/
				images/M/MV5BMTg1MTY2MjYzNV5BMl5BanBnXkFtZTgwMTc4NTMwNDI@._V1_SX300.jpg">
			<button id="buy_but">Reserve seats</button>
			<div id="title">
				The Black Panther
			</div>
			<div id="discription">
				it is a movie about black people that dress up in panther suits. fim just adding this to make sure that it loops and doesnt add a scroll bar.
			</div>
		</div>
		<div id="sidebar">
			<div id=side_header>
				<input id="search_inp" type="text" name="search" placeholder="title">
				<button id="search_but">Search</button>
			</div>
			<div id="search_results">
				<img class="thumb" id="tt0848228" src="https://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg">
				<img class="thumb" id="tt2395427" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SX300.jpg">
				<img class="thumb" id="tt0118661" src="https://ia.media-imdb.com/images/M/MV5BYWE1NTdjOWQtYTQ2Ny00Nzc5LWExYzMtNmRlOThmOTE2N2I4XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_SX300.jpg">
				<img class="thumb" id="tt1626038" src="https://ia.media-imdb.com/images/M/MV5BYzA4ZjVhYzctZmI0NC00ZmIxLWFmYTgtOGIxMDYxODhmMGQ2XkEyXkFqcGdeQXVyNjExODE1MDc@._V1_SX300.jpg">
				<img class="thumb" id="tt0491703" src="https://ia.media-imdb.com/images/M/MV5BMjY0Mzg1NDAtZmVmNC00NDIyLTk4YjEtYzU4ZTU2ZTZkMDc0L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg">
				<img class="thumb" id="tt0803093" src="https://ia.media-imdb.com/images/M/MV5BZjI3MTI5ZTYtZmNmNy00OGZmLTlhNWMtNjZiYmYzNDhlOGRkL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg">
				<img class="thumb" id="tt0054518" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNjkwMzMzOTQxMF5BMl5BanBnXkFtZTcwNjQzMzIzMQ@@._V1_SX300.jpg">
				<img class="thumb" id="tt2455546" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTY0NTUyMDQwOV5BMl5BanBnXkFtZTgwNjAwMTA0MDE@._V1_SX300.jpg">
				<img class="thumb" id="tt1259998" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ3NjExNjY4N15BMl5BanBnXkFtZTcwNTczODkwNQ@@._V1_SX300.jpg">
				<img class="thumb" id="tt3482378" src="https://ia.media-imdb.com/images/M/MV5BMTU2MDg0Njk4MF5BMl5BanBnXkFtZTgwMTY0OTIyMTE@._V1_SX300.jpg">
			</div>
		</div>
		<script src="home.js"></script>
	</body>
</html>